/* Font Style
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* General */
body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 900;
}

.colored-section{
    background-color: #ff4c68;
    color: white; 
}

/* Heading */
.big-heading{   
    font-size: 3.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Nav Bar */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.8rem;
}

.navbar{
    padding-top: 2rem;
    font-size: 1.1rem;
}

/* Homepage */

.homepage-col{
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.col-home-text{
    text-align: left;
}

[alt |="trex-img"]{
    width: 62%;
}

[alt |="trex-img-2"]{
    position: relative;
    bottom: 0;
    right: 8%;
    vertical-align: bottom;
    transform: scaleX(-1);
    width: 34%;
}

[alt |="apple-logo"], 
[alt |="google-play-logo"]{
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

/* Features */
#features{
    padding-top: 20vh;
    padding-bottom: 15vh;
}

.feature-card{
    margin-bottom: 2rem;
}

.feature-title{
    font-weight: bold;
    font-size: 1.5rem;
}

.feature-paragraph{
    opacity: 0.8;
    padding-left: 40px;
    padding-right: 40px;
}

.feature-logo{
    width: 75px;
    height: 75px;
    margin-bottom: 1rem;
    color: #ef8172;
    transition: color .3s;
}

.feature-logo:hover{
    color: rgb(236, 78, 78);
}

/* Testimonials */
#testimonials{
    background-color: #ee7467;
    padding-top: 10%;
    padding-bottom: 8%;
}

.carousel-item{
    padding-left: 10%;
    padding-right: 10%;
    /* height: 40vh; */
}

.testi-msg{
    font-size: 2.3rem;
    font-weight: bold;
}

.testi-name{
    font-size: 0.9rem;
    opacity: 0.8;
    font-style: italic;
}

[alt |= "dino"]{
    width: 60px;
    height: 60px;
}

/* Press */
#press{
    background-color: #ee7467;
    padding-bottom: 5%;
}

.press-icon{
    margin-left: 2rem;
    width: 12%;
}

/* Buying Plan */
#buying-plan{
    padding-top: 8%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

.plan-card{
    padding-bottom: 20px;
}

.plan-name{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f6f4f7;
    font-weight: bold;
    font-size: 1.5rem;
}

.plan-details{
    padding-left: 20px;
    padding-right: 20px;
}

.plan-text{
    opacity: .8;
}

.plan-price{
    font-size: 2rem;
}

.mo-style{
    color: #646b71;
}

.plan-btn{
    width: 80%;
}

.subtext{
    opacity: .8;
    margin-bottom: 8%;
}

/* Call-to-action */
#call-to-action{
    padding-top: 7.5%;
    padding-bottom: 8%;
}

.call-to-action-title{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
}

/* Footer */
#footer{
    padding-top: 5%;
    padding-bottom: 3%;
}

.footer-logo{
    margin-right: 15px;
}

.logo-section{
    margin-bottom: 15px;
}

.footer-copyright{
    color:black;
    opacity: 0.8;
    text-decoration: none;
    transition: opacity .2s;
}

.footer-copyright:hover{
    color: black;
    opacity: 1;
}

/* Media Query */
@media screen and (max-width: 414px){
    .big-heading{
        font-size: 2.5rem;
    }
    .section-heading{
        font-size: 2.5rem;
    }
    .testi-msg{
        font-size: 1.8rem;
    }
}